@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Alpino";
	src: url("../src/assets/fonts/Alpino-Thin.woff2") format("woff2");
	font-weight: 100;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Alpino";
	src: url("../src/assets/fonts/Alpino-Light.woff2") format("woff2");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Alpino";
	src: url("../src/assets/fonts/Alpino-Regular.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Alpino";
	src: url("../src/assets/fonts/Alpino-Medium.woff2") format("woff2");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Alpino";
	src: url("../src/assets/fonts/Alpino-Bold.woff2") format("woff2");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Alpino";
	src: url("../src/assets/fonts/Alpino-Black.woff2") format("woff2");
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Alpino";
	src: url("../src/assets/fonts/Alpino-Variable.woff2") format("woff2");
	font-weight: 1;
	font-display: swap;
	font-style: normal;
}



@layer base {
	:root {
		@apply bg-black/90;
		@apply text-gray-100;
	}
	body {
		font-family: "Alpino", sans-serif !important;
		scroll-behavior: smooth !important;
	}
}